<footer *ngIf="loggedIn()" class="pageFooter" id="pageFooter">
  <div class="container">
    <div class="certifications hideUnder-m"></div>
    <div class="appStore hideUnder-m"></div>
    <nav class="meta hideUnder-m">
      <a [routerLink]="['/main/languages']"> <mat-icon>language</mat-icon>United Kingdom - English </a>
      <a [routerLink]="['/main/support']">Help / Support</a>
      <a [routerLink]="['/main/imprint']">Imprint</a>
      <a [routerLink]="['/main/privacy']">Privacy Policy</a>
      <a [routerLink]="['/main/terms']">Terms and conditions</a>
    </nav>
    <span class="address"> Boranu Online B.V., Frans Erensstraat 14A, 5921VG Venlo, Netherlands </span>
    <span class="copy">© 2020 ChatrDate</span>
  </div>
</footer>
