:host {
  width: 100%;
  display: flex;
}

.mainCol {
  margin-bottom: 2rem;
  flex: 1 1 100%;
}

.mainCol > * {
  margin-bottom: 2rem;
}

.profilePage .backLink {
  display: flex;
  align-items: center;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
}

.profilePage .backLink .mat-icon {
  font-size: 1.4em;
  display: block;
  float: left;
}

.profilePage .box {
  background: #fff;
  padding: 1.25rem;
  margin-bottom: 0.25rem;
}

.profilePage .profileHeader {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-right: 2.95rem;
}

.profilePage .profileInfo {
  display: flex;
  align-items: flex-start;
}

.profilePage .profileHeader article {
  flex: 1 1 100%;
}

.profilePage .profileInfo .imgWrp {
  flex: 0 0 15rem;
}

.profilePage .profileInfo .intro {
  flex: 1 1 100%;
  padding: 0 1.25rem;
}

.profilePage .profileHeader h1 {
  margin-bottom: 0;
}

.profilePage .profileHeader h1 .onlineStatus {
  padding-right: 1.2rem;
}

.profilePage .profileHeader h2 {
  font-size: 1.2em;
  font-weight: 400;
}

.profilePage .profileHeader h2:last-child {
  margin-bottom: 0;
}

.profilePage .profileMenu {
  flex: 0 0 25%;
}

.profilePage .profileMenu button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  height: 3.2rem;
  background: #e01f4d;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  border: 0.0625rem solid #fff;
  overflow: hidden;
}

.profilePage .profileMenu button.discreet {
  color: #888;
  background: #dcdcdc;
}

.profilePage .profileMenu .mat-icon {
  font-size: 1.6rem;
  flex: 0 0 2.6rem;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-right: 0.625rem;
  transform: scale(1);
  transition: transform 240ms ease-in;
}

.profilePage .profileHeader > .intro {
  display: none;
}

.profilePage h3 {
  margin: 0;
}

.profileFacts .facts {
  display: flex;
  flex-wrap: wrap;
  margin: -0.625rem;
}

.profileFacts .group {
  flex: 0 0 25%;
  padding: 0.625rem;
}

.profileFacts .dt {
  font-weight: 200;
  font-size: 0.85em;
  margin-bottom: 0.25rem;
}

.profileFacts .dd,
.profileFacts .dt {
  display: block;
}

.profilePage .stream-grid {
  background: #fff;
  padding: 1.25rem;
}

.profilePage .stream-grid span {
  display: block;
  padding: 0.625rem;
}
::ng-deep .mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.stream-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 30%;
  background: transparent !important;
  padding: 0 !important;
}
.stream-child {
  width: 30%;
}

.stream-grid > div {
  padding: 0.625rem;
  background: white;
  margin-right: 0.25rem;
}
.stream-child:last-child {
  margin-right: 0 !important;
}

.mainColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.intro:first-child {
  margin-bottom: 3.5rem;
}
.hidden-fields {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.625rem;
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.field {
  width: 100%;
}
.hidden-fields > div {
  flex: 50%;
  padding: 0.625rem;
}
.hidden-fields select {
  border-color: #fff;
  padding: 0.48rem 0.4rem;
}
.wrp {
  border: 1px solid #d5d5d5;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.select .wrp:after {
  position: absolute;
  right: 0.4rem;
  bottom: 0.8rem;
  z-index: 3;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #888 transparent transparent;
  border-width: 0.4rem 0.4rem 0;
}
.select .wrp:after,
.select .wrp:before {
  content: '';
  pointer-events: none;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 240ms ease-in;
  transition: opacity 240ms ease-in;
}
.select .wrp:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 1.6rem;
  border-left: 1px solid #f2f2f2;
  background: #fff;
  -webkit-box-shadow: -4px 0 2px #fff;
  box-shadow: -4px 0 2px #fff;
}
.select .wrp:after,
.select .wrp:before {
  content: '';
  pointer-events: none;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 240ms ease-in;
  transition: opacity 240ms ease-in;
}
.select.single select {
  width: calc(100% + 40px);
}
.select .wrp select {
  background: 0 0;
  z-index: 1;
  cursor: pointer;
}

.selectedButtons {
  display: flex;
  justify-content: stretch;
}
.hidden-fields.selectedButtons {
  flex-wrap: wrap;
}
.selectedButtons input {
  display: none;
}
.selectedButtons label {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 1px;
  margin-bottom: 0;
  border: 0;
  padding: 0.4rem;
  color: #fff;
  text-align: center;
  background-color: #aeaeae;
  -webkit-transition: color 240ms ease-in, background-color 240ms ease-in;
  transition: color 240ms ease-in, background-color 240ms ease-in;
  font-size: 1em;
  line-height: 24px;
}

.selectedButtons i {
  opacity: 0;
  width: 0;
  -webkit-transition: all 240ms ease-in;
  transition: all 240ms ease-in;
  font-size: 1.5rem;
  text-align: left;
}

.selectedButtons input:checked + label {
  background-color: #e01f4d;
}

.selectedButtons input:checked + label i {
  opacity: 1;
  width: 2rem;
}

.mainPersonalInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.personal-information {
  margin: -0.625rem;
}

.personal-information .group {
  flex: 0 0 25%;
  padding: 0.625rem;
}

.username,
.userAgeCity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 !important;
}

.username h1, .userAgeCity h2{
  margin: 0;
  padding-right: 8px;
}

.btnEdit {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.fa-check {
  color: #0099e4;
}

@media screen and (max-width: 880px) {
  .profilePage .profileHeader > .intro {
    padding: 1.25rem;
    display: block;
  }
}
