<main *ngIf="loggedIn()" class="mainWrap" id="mainWrap">
  <div id="mainContainer" class="container">
    <div>
      <div class="fourColumn">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <aside class="notificationStream" id="notificationStream" [style]="getNotificationStyle()">
    <div class="menu">
      <button mat-icon-button aria-label="Show who sent you a message" (click)="changeNotificationType('message')">
        <mat-icon>message</mat-icon>
      </button>
      <button mat-icon-button aria-label="Show who likes you" (click)="changeNotificationType('like')">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Show who kissed you" (click)="changeNotificationType('kiss')">
        <mat-icon svgIcon="kiss-icon" aria-hidden="false" class="kiss-icon"></mat-icon>
      </button>
      <button mat-icon-button aria-label="Show who visited your profile" (click)="changeNotificationType('profileVisit')">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </div>
    <ul class="stream">
      <ng-container *ngIf="selectedNotificationType === 'message'">
        <li *ngFor="let user of users">
          <app-stream-teaser
            [users]="user"
            [stream]="messageStream"
            [selectedNotificationType]="selectedNotificationType"
          ></app-stream-teaser>
        </li>
      </ng-container>
      
      <ng-container *ngIf="selectedNotificationType === 'like'">
        <li *ngFor="let user of likesUsers">
          <app-stream-teaser
            [users]="user"
            [stream]="likeStream"
            [likesUsers]="likesUsers"
            [selectedNotificationType]="selectedNotificationType"
          ></app-stream-teaser>
        </li>
      </ng-container>
      
      <ng-container *ngIf="selectedNotificationType === 'kiss'">
        <li *ngFor="let user of favoritesUsers">
          <app-stream-teaser
            [users]="user"
            [stream]="kissStream"
            [favoritesUsers]="favoritesUsers"
            [selectedNotificationType]="selectedNotificationType"
          ></app-stream-teaser>
        </li>
      </ng-container>
      
      <ng-container *ngIf="selectedNotificationType === 'profileVisit'">
        <li *ngFor="let user of visitorsUsers">
          <app-stream-teaser
            [users]="user"
            [stream]="profileVisitStream"
            [visitorsUsers]="visitorsUsers"
            [selectedNotificationType]="selectedNotificationType"
          ></app-stream-teaser>
        </li>
      </ng-container>
    </ul>
  </aside>
</main>
<app-main-header></app-main-header>
<app-main-footer></app-main-footer>
