<section class="mainCol">
  <section class="chatStream">
    <header>
      <div class="imgWrp hideAbove-1">
        <img src="{{ user.photoUrl }}" alt="" />
      </div>
      <div class="cnt">
        <h1>{{ user['username'] }}</h1>
        <h5
          *ngIf="presence$ | async as chatService"
          class="onlineStatus online"
          [ngClass]="{
            'is-success': chatService.status === 'online',
            'is-warning': chatService.status === 'away',
            'is-danger': chatService.status === 'offline'
          }"
        >
          {{ chatService.status }}
        </h5>
        <button mat-button class="btnS" color="accent">
          <mat-icon>favorite_border</mat-icon>
          Like her
        </button>
      </div>
      <div class="menu hideAbove-1">
        <button mat-raised-button>Chat</button>
        <button mat-raised-button>Profile Info</button>
      </div>
    </header>
    <article class="chatStreamMessages">
      <ul #scroller>
        <li class="chatBubble hasArrow in">
          <div *ngFor="let message of messageList | async">
            <a href="#" class="imgWrp">
              <img src="{{ message.photoUrl }}" alt="" />
            </a>
            <div class="cnt arrow">
              <small>at {{ message.timeSent }}</small>
              <p>
                <span>{{ message.message }}</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </article>
    <footer>
      <form action="#">
        <div class="textarea">
          <input
            type="text"
            id="writeMessage"
            [(ngModel)]="newMsg"
            (keydown.enter)="handleSubmit($event)"
            placeholder="Write a message"
            [ngModelOptions]="{ standalone: true }"
          />
          <button class="btnPrimary" (click)="newMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
        <div class="buttons">
          <button mat-button type="button" class="icon-kiss">
            <mat-icon svgIcon="kiss-icon-red" aria-hidden="false"></mat-icon>
          </button>
        </div>
      </form>
    </footer>
    <!-- profile for mobile -->
    <div class="chatProfileInfo">
      <a href="#" class="imgWrp">
        <img src="{{ user.photoUrl }}" alt="" />
      </a>
      <div class="cnt">
        <a href="#" class="h2 ellipsis chatProfileInfoName"> {{ user.userName }} </a>
        <p>{{ user.age }} years old from Yurga</p>
        <p>
          {{ user.description }}
        </p>
      </div>
      <div class="box profileFacts">
        <div class="facts">
          <!-- ngFor group -->
          <div class="group">
            <span class="dt">Looking for</span>
            <span class="dd">{{ user.lookingFor }}</span>
          </div>
          <div class="group">
            <span class="dt">Interested in</span>
            <span class="dd">{{ user.interests }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<aside class="asideLeft">
  <div class="chatProfileInfo">
    <a href="#" class="imgWrp">
      <img src="{{ user.photoUrl }}" alt="" />
    </a>
    <div class="cnt">
      <a href="#" class="h2 ellipsis chatProfileInfoName"> {{ user.userName }} </a>
      <p>{{ user.age }} years old from Yurga</p>
      <p>
        {{ user.description }}
      </p>
    </div>
    <div class="box profileFacts">
      <div class="facts">
        <!-- ngFor group -->
        <div class="group">
          <span class="dt">Looking for</span>
          <span class="dd">{{ user.lookingFor }}</span>
        </div>
        <div class="group">
          <span class="dt">Interested in</span>
          <span class="dd">{{ user.interests }}</span>
        </div>
      </div>
    </div>
  </div>
</aside>
