<section class="mainCol">
  <ul class="chatsStream">
    <ng-container *ngIf="selectedNotificationType === 'message'">
      <li *ngFor="let record of users">
        <app-stream-teaser [users]="record" [stream]="messageStream" [selectedNotificationType]="selectedNotificationType"></app-stream-teaser>
      </li>
    </ng-container>
  </ul>
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</section>
