<section class="mainCol">
  <ul class="chatsStream">
    <li *ngFor="let record of users">
      <app-stream-teaser [users]="record"></app-stream-teaser>
    </li>
  </ul>
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</section>
