<div class="profile">
  <div [routerLink]="['user', user.id]" (click)="visitorCount(user.id)" class="profile triggerRegistration">
    <div class="imgWrp">
      <img src="{{ user.photoUrl || './assets/images/profile/fallback-male.jpg' }}" alt="{{ user.userName }}" />
    </div>
    <!-- <div class="carouselWrap">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div> -->
    <div class="cnt">
      <h4
        *ngIf="presence$ | async as chatService"
        class="onlineStatus online"
        [ngClass]="{
          'is-success': chatService.status === 'online',
          'is-warning': chatService.status === 'away',
          'is-danger': chatService.status === 'offline'
        }"
      >
        {{ chatService.status }}
      </h4>
      {{ getDisplayName() }}
      <span class="small">{{ user.city }}</span>
    </div>
  </div>
  <div class="menu">
    <a mat-icon-button aria-label="Write a message" class="btnS btnPrimaryInverted" [routerLink]="['chat', user.id]">
      <mat-icon>message</mat-icon>
    </a>
    <button mat-icon-button (click)="sendLike(user.id)" class="btnS btnPrimaryInverted">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button aria-label="Send her a kiss" (click)="sendLike(user.id)" class="btnS btnPrimaryInverted">
      <mat-icon svgIcon="kiss-icon" aria-hidden="false" class="kiss-icon"></mat-icon>
    </button>
  </div>
</div>
