<footer class="pageFooter">
  <div class="container">
    <div class="certifications">
      <img src="./assets/images/netzsieger_en.png" alt="" />
    </div>
    <div class="portalDescription">
      The minimum age for using ChatrDate.com is at least 18 years and above. This platform is optimized for desktop,
      mobile devices and tablets. ChatrDate.com is a social platform for men and women looking for fun, chat, flirt or
      exiting and interested contacts. Many members sign up every day. ChatrDate.com is designed for pleasure and
      entertainment. You also have the possibility to chat with virtual online profiles in our virtual entertainment
      world, and real meetings with these profiles are not possible. The decision to meet with real profiles is always
      at the discretion of our members, for more info you can read our Terms & Conditions, we strongly advise you to
      read our Terms & Conditions before using our Service. We guarantee our members that chatting with them will be
      always assured.
    </div>
    <nav class="meta">
      <a href="#"> <mat-icon>language</mat-icon>United Kingdom - English </a>
      <a [routerLink]="['/faq']">Help / Support</a>
      <a href="#">Imprint</a>
      <a [routerLink]="['/privacy']">Privacy Policy</a>
      <a [routerLink]="['/terms']">Terms and Conditions & Communication Guidelines</a>
    </nav>
    <span class="address"> 378 Hummingbird Way Reading MA Massachusetts 01867 </span>

    <div class="paymentProvider">
      <span class="provider">
        <img src="./assets/images/creditCard.png " class="" alt="Credit Card" />
      </span>
      <span class="provider">
        <img src="./assets/images/payPal.png " class="" alt="PayPal" />
      </span>
    </div>
    <span class="copy"> © 2020 ChatrDate </span>
  </div>
</footer>
