.article {
  position: relative;
  z-index: 2;
  overflow: visible;
  padding: 2.8125rem 0;
}

.article.imgLeft,
.article.imgRight {
  padding: 5.625rem 0;
}

.article.imgRight {
  padding-right: 50%;
}

.article.imgLeft {
  padding-left: 50%;
}

.article h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.article p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.article .mood {
  position: absolute;
  top: 2.8125rem;
  bottom: 2.8125rem;
  z-index: -2;
  max-width: 90%;
  max-height: 100%;
}

.mood.imgRight {
  right: -80px;
}

.mood.imgLeft {
  left: -80px;
}

@media screen and (max-width: 1199px) {
  .article.imgLeft,
  .article.imgRight {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
  .article .mood {
    bottom: auto;
    top: 2.8125rem;
    max-width: 70%;
  }
  .article p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .article .h2,
  .article h2 {
    font-size: 1.625rem;
  }
  .article p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 767px) {
  .article.imgLeft,
  .article.imgRight {
    padding: 1.875rem 0;
  }
  .article .h2,
  .article h2 {
    font-size: 1.4rem;
  }
  .article.imgLeft .mood.imgLeft,
  .article.imgRight .mood.imgRight {
    position: relative;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    max-width: 100%;
  }
}
