<section class="publicPage">
  <main>
    <app-header></app-header>
    <div class="container">
      <div class="publicAuthContent small">
        <div class="cnt">
          <div class="slogan">
            <h3>Forgot Password?</h3>
          </div>
          <div class="copy">
            <p>
              <strong>Please enter your Email-address below.</strong><br />
              We will send you an Email with further Steps to reset your password.
            </p>
          </div>
          <form class="forgot-password-form" [formGroup]="forgotpwdForm" (ngSubmit)="Submit()">
            <mat-form-field class="login-form-full-width">
              <mat-label>Email Address</mat-label>
              <input matInput type="email" formControlName="username" placeholder="Your email address" />
            </mat-form-field>
            <re-captcha
              (resolved)="resolved($event)"
              siteKey="6LcurdYZAAAAAK-bwgN-PsMuHnQCxD6D_FnfuWsB"
              formControlName="recaptchaReactive"
            ></re-captcha>
            <div class="form-buttons">
              <button mat-raised-button color="red" mat-button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="moodImage" style="background-image: url('./assets/images/public/auth-mood.jpg')"></div>
    </div>
  </main>
  <app-footer></app-footer>
</section>
